:root {
    --color-primary: #ee74b1;
    --color-secondary: #FFF9EB;
    --color-tertiary: #e2bbbb;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #001055;
    --color-white: #FFFFFF;
    --color-list: #a8c2bc;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 0;
}


/*TODO EL CONTENIDO*/
.main-content-input{
    display: flex;
    flex-direction: row;
}


/*SECCION DE LA NOTIFICACION PERSONALIZADA*/
#custom-alert-container{
    /*Contenido total*/
    position: fixed;
    top: 0px;
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: rgba(3, 10, 80, 0.9); /* Dark semi-transparent background */
    color:bisque;
    margin: 5%;
    /*PARA QUE SE posicione hasta arriba*/
    z-index: 1000; 

    /*para el texto*/
    font-family: Impac1t, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-align: center;
    padding: 25px;
    gap: 10px;
    align-items: center;
    justify-content: space-around;


    /*Contenedor principal*/
    border-radius: 15px;
    border-color: #001055;
    border: 1px solid #000;

}

.hidden{
    display:none !important;
}

.photo-friends{
    border:#001055;
    border-radius: 15px;
    margin: 35px;
}

/* Sección de entrada */
.input-section {
    flex: 30%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 500px;
    justify-content: center;
    margin: 10px;
}

/* Sección de respuesta */
.input-result-list {
    display: flex;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px;
    align-items:center;
    flex-direction: column;
    padding: 30px;
    width: 655px;
    justify-content: center;
    margin: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.result-game{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;

    padding: 15px;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.content-header{
    display: flex;
    background-color: #ec4e71;
    border-style:solid;
    border-color: #790707;
    border-radius: 65px;
    padding: 15px;
    margin: 25px 100px 15px 100px; 
    justify-content: center;
    text-transform: uppercase;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:var(--color-secondary);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
    border-radius: 5%;
    border-color: #0e0b0b;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: 300px;
    margin: 20px;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 8px;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Listas */
ul {
    list-style-type:none;
    color: var(--color-text);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 20px 0;
}
li{
    border-radius: 10px;
    padding: 15px;
    border-style:ridge;
    text-align: center;
    border-color: var(--color-text);
    background-color:aliceblue;
    margin: 5px;
}
.name-list{
    padding: 20px;
    background-color:var(--color-list);
    width: 450px;
    align-content: center;
    border-radius: 15px;
    border-color: #001055;
}

/*SECCION EXCLUSIVA DE RESULTADOS*/
.section-results{
    display: flex;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px;
    align-items:center;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    margin: 5px 25% 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.result-list {
    margin-top: 25px;
    color: #05DF05;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 25px;
    align-content: center;
}

/* Botón de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

.footer-draw{
    display: flex;
    text-align: center;
}